<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things To Do in Dallas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="bg-gray-100">
    <header class="bg-white shadow-md">
      <div class="container mx-auto flex justify-between items-center py-4">
        <a href="#" class="text-lg font-bold text-gray-900 sm:text-center">ThingsToDo | Dallas</a>
        <nav>
          <ul class="hidden sm:flex items-center space-x-4">
            <li><a href="#" class="text-gray-700 hover:text-gray-900">Home</a></li>
            <li><a href="#" class="text-gray-700 hover:text-gray-900">About</a></li>
            <li><a href="#" class="text-gray-700 hover:text-gray-900">Contact</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <main class="container mx-auto items-center h-screen">
        <p>Welcome to the Things To Do in Dallas app! This app is designed to help you discover fun and interesting things to do in Dallas, Texas. With just a click of a button, you can generate a new idea for your next adventure. Whether you're a local looking for new experiences or a tourist exploring the city, our app is the perfect tool to help you plan your next adventure. Try it out today and start discovering all the amazing things DFW has to offer!</p>
       <div> <button id="generateBtn" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Generate</button></div>
      <div id="activity" class="text-center text-3xl font-bold py-5"></div>
      <div id="activityImage"></div>
    </main>

    <footer class="bg-gray-200 py-4">
      <div class="container mx-auto text-center">
        <p class="text-gray-600">©2023 Things To Do in Dallas</p>
        <p class="text-gray-600">Contact: trelyn.dev@gmail.com</p>
      </div>
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
